{{!-- includes content for each comment card added to the trip page --}}
<div class="card"  style="width: 100%">
  <div class="card-body">
    <p class="card-text">{{comments}}</p>
  </div>
  <div class="row justify-content-center" style="text-align: center; padding: 0px 10px;">
    <div class="col-sm-12 col-md-6" style="margin: 10px 0px">
      <input type='hidden' name='post-id' value='{{id}}' />
      <button class="btn delete-btn" value="{{id}}">Delete Comment</button>
    </div>
  </div>
</div>