{{!-- includes content for each comment card added to the trip page --}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">(Comment Timestamp)</h5>
    <p class="card-text">Another interesting thing from the trip was......</p>
  </div>
</div>