{{!-- includes the button/link for each trip details page populated on the home page --}}
{{!-- Will eventually have an EACH as it creates a new list item for each new trip created --}}

<ul class="list-group list-group-flush">
  {{!-- Each --}}
  {{#each trips as |trip|}}
  <li class="list-group-item"><a id="trip-name" href="/trip/{{trip.id}}">{{trip.location}}</a></li>
  {{!-- end each --}}
  {{/each}}
  <li class="list-group-item add-trip"><a href="/addtrip">Add a Trip</a></li>
</ul>
{{> script}}
