{{!-- includes the button/link for each trip details page populated on the home page --}}
{{!-- Will eventually have an EACH as it creates a new list item for each new trip created --}}

<ul class="list-group list-group-flush">
  {{!-- Each --}}
  <li class="list-group-item"><a href="#">New York</a></li>
  <li class="list-group-item"><a href="#">Los Angeles</a></li>
  <li class="list-group-item"><a href="#">Seattle</a></li>
  {{!-- end each --}}
  <li class="list-group-item add-trip"><a href="/addtrip">Add a Trip</a></li>
</ul>