<h1>Add Trip!</h1>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Where did you travel?</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example: New York">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">When did your trip start?</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Example: 6/3/2021">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">When did your trip end?</label>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Example: 6/15/2021">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">On a scale from 1-5, how would you rate your trip?</label>
    <input type="text" class="form-control" id="formGroupExampleInput4">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">What was the best food you ate?</label>
    <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Example: Falafel!">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">What was the most unexpected experience you had?</label>
    <input type="text" class="form-control" id="formGroupExampleInput6" placeholder="Example: I ran into Nicholas Cage!">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">What did you learn?</label>
    <input type="text" class="form-control" id="formGroupExampleInput7" placeholder="Example: I learned that Nicholas Cage is very tall.">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Will you go back?</label>
    <input type="text" class="form-control" id="formGroupExampleInput8" placeholder="Example: Absolutely.">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>