<h1 style="text-align: center;">Add Trip!</h1>
<div class="container">
  <form class="newTripSubmit">
    <div class="form-group">
      <label for="formGroupExampleInput">Where did you travel?</label>
      <input type="text" class="form-control" id="location" placeholder="Example: New York">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">When did your trip start?</label>
      <input type="text" class="form-control" id="startDate" placeholder="Example: 6/3/2021">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">When did your trip end?</label>
      <input type="text" class="form-control" id="endDate" placeholder="Example: 6/15/2021">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">On a scale from 1-5, how would you rate your trip?</label>
      <input type="text" class="form-control" id="rating">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">What was the best food you ate?</label>
      <input type="text" class="form-control" id="food" placeholder="Example: Falafel!">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">What was the most unexpected experience you had?</label>
      <input type="text" class="form-control" id="experience" placeholder="Example: I ran into Nicholas Cage!">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">What did you learn?</label>
      <input type="text" class="form-control" id="lesson" placeholder="Example: I learned that Nicholas Cage is very tall.">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Will you go back?</label>
      <input type="text" class="form-control" id="revisit" placeholder="Example: Absolutely.">
    </div>
    <button type="submit" class="btn" id="newTripSubmit">Submit</button>
  </form>
</div>
{{> script}}
<script src="/js/addtrip.js"></script>
<script src="/js/index.js"></script>