{{!-- This page will have the list of my trips and the option to add a trip --}}
{{!-- {{#if isLoggedIn}} --}}
<div class="container">
  <h1>myTripJournal</h1>
  <h2>Welcome, {{user.username}}!</h2>
  <div class="card" style="width: 18rem;">
    {{> home-details}}
  </div>
</div>
{{!-- {{/if}} --}}
{{!-- else --}}
{{!-- WILL HAVE THE CONTENT FOR SIGN IN OR SIGN UP OPTIONS --}}