{{#if isLoggedIn}}
<div class="container">
  <h1>myTripJournal</h1>
  <h2>Welcome, {{user.username}}!</h2>
  <div class="card" style="width: 18rem;">
    {{> home-details}}
  </div>
</div>
{{else}}

<div class="container">
  <h1>myTripJournal</h1>
  <h2>In search of a way to log your recent trips? With myTripJournal the hard work is done for you!
    Document your meaningful memories and create interesting trip memoirs simply and easily.
  </h2>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/signup">Sign Up</a></li>
      <li class="list-group-item"><a href="/login">Log In</a></li>
    </ul>
  </div>
</div>
{{/if}}