<h1>Sign Up</h1>
<div class="container">
  <form class='signup-form'>
    <label for='username'>Username</label><br />
    <input type='text' class='form-control' name='username' id='username' /><br />
    <label for='password'>Password</label><br />
    <input type='password' class='form-control' name='password' id='password' /><br />
    <label for='confirm-password'>Confirm Password</label><br />
    <input type='password' class='form-control' name='confirm-password' id='confirm-password' /><br />
    <button class='btn' type='submit'>Submit</button>
  </form>
  <p>Already have an account? <a href='/login'>Login Here</a></p>
</div>
{{> script}}
<script src='/js/signup.js'></script>